@model List<BacklogManager.Models.MediaObject>
@using BacklogManager.Models

@{
    ViewData["Title"] = "Media";
}

<h2>Media</h2>
@if (Model.Count != 0)
    {
        <form method="post" asp-action="DeletePrompt">
            <table class="table">
                <tr>
                    <th>Title</th>
                    <th>Source</th>
                    <th>Started</th>
                    <th>Completed</th>
                    <th>Edit</th>
                    <th><input type="submit" value="Delete"/></th>
                </tr>
                @foreach (MediaObject mediaObject in Model)
                {
                    <tr>
                        <td>@mediaObject.Title</td>
                        <td>@mediaObject.RecommendSource</td>
                        <td>@mediaObject.Started</td>
                        <td>@mediaObject.Completed</td>  @*If I want these to be checkboxes, I think I have to turn it into a form.*@
                        <td><a>Edit</a></td>
                        <td><input type="checkbox" name="mediaIds" id="@mediaObject.ID" value="@mediaObject.ID" /></td>
                    </tr>
                }
            </table>
        </form>
    }
else
    { 
        <p>No Media in list, <a asp-action="Add">Add some</a>.</p>
    }
