@model BacklogManager.ViewModels.MediaIndexViewModel
@*List<BacklogManager.Models.MediaObject>*@
@using BacklogManager.Models
@using BacklogManager.ViewModels

@{
    ViewData["Title"] = "Media";
}

@if (Model.MediaBySubTypeViewModels.Count != 1)
{
    <h1>My Backlog</h1>
    <p>
        Find all titles in your Backlog listed here.
    </p>
}

@if (Model.MediaBySubTypeViewModels.Count != 0)
{
    @foreach (MediaBySubTypeViewModel mbstvm in Model.MediaBySubTypeViewModels)
    {
        <br />
        <div>
            <h4>
                <a href="/Media/Index?subTypeId=@mbstvm.MediaSubType.ID">
                    <strong>@mbstvm.MediaSubType.Name Backlog</strong>
                </a>
                | <input type="submit" form="@mbstvm.MediaSubType.Name" value="Save Changes" />
            </h4>

            <form method="post" id="@mbstvm.MediaSubType.Name" asp-action="Update">

                <table class="table">
                    <tr>
                        <th>Title</th>
                        <th>Source</th>
                        <th>Interest (1-10)</th>
                        <th>Started</th>
                        <th>Completed</th>
                        <th>Delete</th>
                    </tr>
                    @foreach (MediaObject mediaObject in mbstvm.MediaObjects)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Media" asp-action="Details" asp-route-id="@mediaObject.ID">@mediaObject.Title</a>
                                <input type="hidden" name="mediaIds" id="@mediaObject.ID" value="@mediaObject.ID" />
                            </td>
                            <td>
                                @mediaObject.RecommendSource
                            </td>
                            <td>
                                <input type="number" name="interest" id="@mediaObject.ID" value="@mediaObject.Interest" />
                            </td>
                            <td>
                                <input type="hidden" name="startedValues" id="@mediaObject.ID" value="0" />
                                <input type="checkbox" name="startedValues" id="@mediaObject.ID" value="1" checked="@mediaObject.Started" />
                            </td>
                            <td>
                                <input type="hidden" name="completedValues" id="@mediaObject.ID" value="0" />
                                <input type="checkbox" name="completedValues" id="@mediaObject.ID" value="1" checked="@mediaObject.Completed" />
                            </td>
                            <td><input type="checkbox" name="deletedIds" id="@mediaObject.ID" value="@mediaObject.ID" /></td>
                        </tr>
                    }
                </table>
            </form>
        </div>
    }

}
else
{
    <p>No Media in Backlog, <a asp-action="Search">Add some</a>.</p>
}
