@model BacklogManager.ViewModels.SearchBacklogViewModel

@{
    ViewData["Title"] = "SearchBacklog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search Your Backlog</h1>
<p>
    Find exactly what you're looking for.
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchBacklog">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubTypeID" class="control-label"></label>
                <br />
                <select asp-for="SubTypeID" asp-items="Model.SubTypes"></select>
                <span asp-validation-for="SubTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatabaseSource" class="control-label"></label>
                <br />
                @* ToDo: Add more select list items as more APIs are integrated *@
                @* ToDo: Fix hardcoded solution, used here to display All by default (select lists apparently default to 0, so must offset db values) *@
                <select asp-for="DatabaseSource">
                    <option value="0">All</option>
                    <option value="1">Local</option>
                    <option value="2">IMDB</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Started" class="control-label"></label>
                <br />
                <select asp-for="Started">
                    <option value="0">All</option>
                    <option value="1">True</option>
                    <option value="2">False</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Completed" class="control-label"></label>
                <br />
                <select asp-for="Completed">
                    <option value="0">All</option>
                    <option value="1">True</option>
                    <option value="2">False</option>
                </select>
            </div>
            @*<div class="form-group">
            <label asp-for="DateAdded" class="control-label"></label>
            <input asp-for="DateAdded" class="form-control" />
            <span asp-validation-for="DateAdded" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="RecommendSource" class="control-label"></label>
                <input asp-for="RecommendSource" class="form-control" />
                <span asp-validation-for="RecommendSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Interest" class="control-label"></label>
                <input asp-for="Interest" class="form-control" />
                <span asp-validation-for="Interest" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="LastSuggested" class="control-label"></label>
            <input asp-for="LastSuggested" class="form-control" />
            <span asp-validation-for="LastSuggested" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" name="Search" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>

    @* If model != null, display search results *@
    @if (Model.MediaObjects.Count != 0)
    {
        @if (Model.MediaObjects[0].ExternalId != null)
        {
            <table class="table">
                <tr>
                    <th>@Model.MediaObjects.Count results</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                @foreach (MediaObject title in Model.MediaObjects)
                {
                    <tr>
                        @if (title.Image != "N/A")
                        {
                            <td><img src="@title.Image" height="128" /></td>
                        }
                        else
                        {
                            <td><img src="https://i.ibb.co/mBByDjW/No-Image-Placeholder.png" height="128" /></td>
                        }
                        <td>
                            <a asp-action="Details" asp-route-id="@title.ID">@title.Title</a>
                        </td>
                        <td>@title.MediaSubType.Name</td>
                        <td>
                            <form method="get" asp-controller="Media" asp-action="Add">
                                <input type="hidden" name="imdbId" value="@title.ExternalId" />
                                <input type="hidden" name="title" value="@title.Title" />
                                <input type="hidden" name="type" value="@title.MediaSubType.ID" />
                                <input type="hidden" name="image" value="@title.Image" />
                                <input type="submit" value="Add" class="btn btn-default" />
                            </form>
                        </td>
                    </tr>
                }
            </table>
        }

    }
    else if(Model.Search != null)
    {
        <hr />
        <p>No results</p>
        <hr />
    }

</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

