@model BacklogManager.ViewModels.SuggestionViewModel

@{
    ViewData["Title"] = "Random Suggestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weighted Suggestion</h2>
<p>
    A semi-random suggestion from your Backlog, designed to prefer titles you're more interested in.
</p>

@if (Model.MediaObjects.Count > 0)
{
    <table class="table">
        <tbody>
            <tr>
                @* Poster row *@
                @foreach (MediaObject mediaObject in Model.MediaObjects)
                {
                    @if (mediaObject.Image != "N/A" & mediaObject.Image != null)
                    {
                        <td><a asp-controller="Media" asp-action="SelectTitle" asp-route-ID="@mediaObject.ID"><img src="@mediaObject.Image" height="384" /></a></td>
                    }
                    else
                    {
                        <td><a asp-controller="Media" asp-action="SelectTitle" asp-route-ID="@mediaObject.ID"><img src="https://i.ibb.co/mBByDjW/No-Image-Placeholder.png" height="384" /></a></td>
                    }
                }
            </tr>
            <tr>
                @* Title row *@
            @foreach (MediaObject mediaObject in Model.MediaObjects)
            {
                <td><a asp-controller="Media" asp-action="Details" asp-route-id="@mediaObject.ID">@mediaObject.Title</a></td>
            }
        </tr>
        <tr>
            @* Type row *@
        @foreach (MediaObject mediaObject in Model.MediaObjects)
        {
            <td>@mediaObject.MediaSubType.Name</td>
        }
    </tr>
</tbody>
</table>
}

<br />

@* ToDo: update to accept a variable numSuggestion value. *@
@if (Model.MediaObjects.Count < 3)
{
    <p>That's all the suggestions we have today.</p>
}
else
{
    <p>Each title will only be suggested once per day.</p>
}