@model List<BacklogManager.Models.OMDbTitle>

@{
    ViewData["Title"] = "Search IMDB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search IMDB</h1>
<p>
    To add a <strong>Movie</strong>, <strong>TV series</strong> or <strong>episode</strong>,
    <br />
    search IMDB for your title here:
</p>

<div>
    <form method="get" asp-controller="OMDb" asp-action="Index" id="omdbSearch"></form>
    <table class="table">
        <tr>
            <th></th>
            <th><label>Title</label></th>
            <th><label>Year</label></th>
            <th><label>Type</label></th>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" name="title" form="omdbSearch" /></td>
            <td><input type="number" name="year" form="omdbSearch" /></td>
            <td>
                <select name="type" id="type" form="omdbSearch">
                    <option value="null">------</option>
                    <option value="movie">Movie</option>
                    <option value="series">Series</option>
                    <option value="episode">Episode</option>
                </select>
            </td>
            <td><input type="hidden" name="search" value="true" form="omdbSearch" /><input type="submit" value="Search" class="btn btn-default" form="omdbSearch" /></td>
        </tr>
        @* If model != null, display search results *@
        @if (Model.Count != 0)
        {
            @if (Model[0].ImdbId != null)
            {
                @foreach (OMDbTitle title in Model)
                {
                    <tr>
                        @if (title.Poster != "N/A")
                        {
                            <td><img src="@title.Poster" height="128" /></td>
                        }
                        else
                        {
                            <td><img src="https://i.ibb.co/mBByDjW/No-Image-Placeholder.png" height="128" /></td>
                        }
                        <td>
                            <a href="https://www.imdb.com/title/@title.ImdbId" >@title.Title</a>
                        </td>
                        <td>@title.Year</td>
                        <td>@title.Type</td>
                        <td>
                            <form method="get" asp-controller="Media" asp-action="Add">
                                <input type="hidden" name="imdbId" value="@title.ImdbId" />
                                <input type="hidden" name="title" value="@title.Title"/>
                                <input type="hidden" name="type" value="@title.Type" />
                                <input type="hidden" name="image" value="@title.Poster" />
                                <input type="submit" value="Add" class="btn btn-default" />
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>No results</p>
            }
        }
    </table>
</div>

@* If not, click through to add a generic MediaObject *@
<p><a asp-action="Add">Click here</a> to add another form of media</p>